<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="StoreContext" connectionString="Data Source=JC-PC\SQLEXPRESS;Initial Catalog=Store;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>